<p-table [value]="transactions" [loading]="loading" [rowHover]="true" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Reason</th>
            <th>User</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tx>
        <tr>
            <td>{{ tx.date | date:'medium' }}</td>
            <td><span [class]="'badge ' + (tx.type === 'IN' ? 'bg-success' : 'bg-danger')">{{ tx.type }}</span></td>
            <td>{{ tx.quantity }}</td>
            <td>{{ tx.reason }}</td>
            <td>{{ tx.user?.username }}</td> <!-- Assuming user object is returned, check backend mapping -->
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No transactions found.</td>
        </tr>
    </ng-template>
</p-table>