<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dtExt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Búsqueda global..." />
            </span>
        </ng-template>
    </p-toolbar>

    <p-table #dtExt [value]="extras" [rows]="10" [paginator]="true" [tableStyle]="{'min-width': '75rem'}"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        [showCurrentPageReport]="true" [globalFilterFields]="['name', 'price']">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestionar Extras</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width:15rem">Nombre <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter></th>
                <th pSortableColumn="price">Precio <p-sortIcon field="price"></p-sortIcon> <p-columnFilter
                        type="numeric" field="price" display="menu" currency="MXN"></p-columnFilter></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-extra>
            <tr>
                <td>{{extra.name}}</td>
                <td>{{extra.price | currency:'MXN':'symbol':'1.2-2':'es-MX'}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="editExtra(extra)" pTooltip="Editar"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteExtra(extra)" pTooltip="Eliminar"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{extras ? extras.length : 0 }} extras.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="extraDialog" [style]="{width: '450px'}" header="Detalles del Extra" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Nombre</label>
            <input type="text" pInputText id="name" [(ngModel)]="extra.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !extra.name">El nombre es requerido.</small>
        </div>
        <div class="field">
            <label for="price">Precio</label>
            <p-inputNumber id="price" [(ngModel)]="extra.price" mode="currency" currency="MXN"
                locale="es-MX"></p-inputNumber>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveExtra()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" acceptLabel="Sí" rejectLabel="No"></p-confirmDialog>